# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [10]:
import re  
regex = '^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$' 
def check(email):  
    if(re.search(regex,email)):  
        print("Valid Email")
        s1= email.split("@")
        s2= s1[1].split(".")
        print("company name:", s2[0])
    else:  
        print("Invalid Email")

email = input("enter email addresses in the username@companyname.com format ")
check(email)

enter email addresses in the username@companyname.com format priya@google.com
Valid Email
company name: google

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [14]:
sequence = input("enter comma-separated sequence of words to sort")

lst =[x for x in sequence.split(',')]
lst.sort()
print ("Sorted data are :"+','.join(lst))

enter comma-separated sequence of words to sortsonali,akash,ameya,priya,neha,ankita,prerna,shan
Sorted data are :akash,ameya,ankita,neha,prerna,priya,shan,sonali

# Question 3:
Create your own Jupyter Notebook for Sets

In [15]:
thisset = {"Priya", "Akash", "Ameya","Sonali"}
print(thisset)

{'Akash', 'Sonali', 'Priya', 'Ameya'}

In [16]:
for x in thisset:
  print(x)

Akash
Sonali
Priya
Ameya

In [17]:
print("Sonali" in thisset)

True

In [18]:
thisset.add("Neha")
print(thisset)

{'Akash', 'Priya', 'Neha', 'Sonali', 'Ameya'}

In [19]:
thisset.update(["Prerna", "Ankita", "Shan"])
print(thisset)

{'Prerna', 'Ankita', 'Akash', 'Shan', 'Priya', 'Neha', 'Sonali', 'Ameya'}

In [20]:
print(len(thisset))

8

In [21]:
thisset.remove("Shan")
print(thisset)

{'Prerna', 'Ankita', 'Akash', 'Priya', 'Neha', 'Sonali', 'Ameya'}

In [22]:
thisset.discard("Akash")
print(thisset)

{'Prerna', 'Ankita', 'Priya', 'Neha', 'Sonali', 'Ameya'}

In [23]:
x = thisset.pop()
print(x)
print(thisset)

Prerna
{'Ankita', 'Priya', 'Neha', 'Sonali', 'Ameya'}

In [24]:
thisset.clear()
print(thisset)

set()

In [27]:
thisset1 = {"Priya", "Akash", "Ameya","Sonali"}

In [28]:
del thisset1
print(thisset1)

NameError: name 'thisset1' is not defined

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5

In [3]:
lst= list(map(int,(input("enter (n-1) numbers separated by space:")).split(" ")))
for x in range(1, max(lst)+1):
    if x not in lst:
        print(x)

enter (n-1) numbers separated by space:1 2 4 6 8 9 11
3
5
7
10

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

In [32]:
def Remove(inputlist): 
    outputList = [] 
    for num in inputlist: 
        if num not in outputList: 
            outputList.append(num) 
    return outputList 

inputlist = list(input("Enter list of numbers to remove duplicates:").split(" "))
print(Remove(inputlist))

Enter list of numbers to remove duplicates:12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155']